# Translation

<img src="https://github.com/retkowsky/images/blob/master/acs.png?raw=true">

Documentation : https://azure.microsoft.com/en-us/services/cognitive-services/

In [1]:
import pandas as pd
import os, requests, uuid, json

In [2]:
subscription_key = "f5bd0cc15f804988984d9d18909c20cd" 
region = "westeurope" 
endpoint = "https://api.cognitive.microsofttranslator.com/"

In [3]:
headers = {
    'Ocp-Apim-Subscription-Key': subscription_key,
    'Ocp-Apim-Subscription-Region': region,
    'Content-type': 'application/json',
    'X-ClientTraceId': str(uuid.uuid4())
}

In [4]:
path = '/translate?api-version=3.0'
params = '&to=pt'
constructed_url = endpoint + path + params

In [5]:
def translate(en):
    body = [{'text': en}]
    request = requests.post(constructed_url, headers=headers, json=body)
    response = request.json()
    return (response[0]['translations'][0]['text'])

In [6]:
df = pd.DataFrame({'English': ['Hello', 'Today', 'Goodbye']})
df

   English
0    Hello
1    Today
2  Goodbye

## Translation

In [7]:
df['Portuguese'] = df['English'].apply(translate)
df

   English Portuguese
0    Hello        Olá
1    Today       Hoje
2  Goodbye   Até logo

## Example

In [8]:
path = '/translate?api-version=3.0'
params = '&to=fr'
constructed_url = endpoint + path + params

In [9]:
def translate(en):
    body = [{'text': en}]
    request = requests.post(constructed_url, headers=headers, json=body)
    response = request.json()
    return (response[0]['translations'][0]['text'])

In [10]:
df = pd.DataFrame({'English': ['Hello', 'Today', 'Goodbye']})
df

   English
0    Hello
1    Today
2  Goodbye

In [11]:
df['Italian'] = df['English'].apply(translate)
df

   English      Italian
0    Hello      Bonjour
1    Today  Aujourd’hui
2  Goodbye    Au revoir

## Another one

In [12]:
path = '/translate?api-version=3.0'
params = '&to=fr'
constructed_url = endpoint + path + params

In [13]:
df = pd.DataFrame({'Polish': ['Witam', 'Dzisiaj', 'Do widzenia']})
df

        Polish
0        Witam
1      Dzisiaj
2  Do widzenia

In [14]:
df['French'] = df['Polish'].apply(translate)
df

        Polish       French
0        Witam      Bonjour
1      Dzisiaj  Aujourd’hui
2  Do widzenia    Au revoir